@import "../../styles/neu.scss";

$sidebar-width: 288px;

.sidebar-layout {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vmin;
  overflow: hidden;
  padding: 1rem;

  &-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: $sidebar-width;

    & > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    & > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }
  }

  &-body {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    margin-left: calc($sidebar-width + 1rem);
  }

  &-underlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  & .sidebar-box {
    @include neu-box(2px);

    padding: 1rem;
    background-color: theme("colors.secondary");
    color: theme("colors.base");
  }
}
