@use "sass:math";

@import "../../styles/neu.scss";
@import "../../styles/utils.scss";

button.neu-button {
  @include neu-hover-box(1px);

  // General
  user-select: none;

  // Size
  width: fit-content;
  min-width: 64px;
  height: 36px;
  padding: 0px 1em;

  cursor: pointer;
  color: theme("colors.base");
  font: {
    size: 18px;
    weight: 600;
  }

  // Design
  background-color: white !important;

  // Data Size
  &[data-size="sm"] {
    height: 32px;
    font-size: 14px;
  }

  &[data-size="lg"] {
    height: 44px;
    font-size: 22px;
  }

  @include data_color("background-color");

  &:disabled {
    opacity: 0.75 !important;
    pointer-events: none !important;
  }
}
