@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: theme("colors.primary");
  color: theme("colors.base");
}

@layer base {
  h3 {
    font: {
      size: theme("fontSize.lg");
      weight: theme("fontWeight.medium");
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: theme("colors.primary");
    border: 2px solid black;
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: theme("colors.secondary");
    border: 2px solid black;
  }
}
